---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import images from './images.json';

---

<BaseLayout
	title="My Work | Jaclyn Fiore"
	description="See pictures of Jaclyn Fiore's previous hair coloring, bleaching and hair cuts."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Jaclyn Fiore's Hair Portfolio"
				tagline="This displays pictures my previous hair work"
				align="start"
			/>
			<Grid variant="offset">
				{images.map(picture => (
				  <li>
					<img
					  src={`/assets/pictures/${picture}`}
					  alt=""
					  loading="lazy"
					  decoding="async"
					/>
				  </li>
				))}
			  </Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
