---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="bottle" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Blonde Specialist</h2>
		<p>Expertise in creating the perfect blonde hues, from sun-kissed highlights to platinum makeovers, using techniques like balayage and dimensional color for natural-looking results.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="extentions" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Hair Extensions</h2>
		<p>Certified Bellami hair extensions specialist, offering personalized solutions to add length, volume, and drama to your look with the perfect extensions for your style.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="grey" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Grey Solutions</h2>
		<p>Personalized grey blending and coverage options, helping you feel confident and radiant, whether you're celebrating your silver strands or opting for rich, vibrant color.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>